name: On chain Token List

on:
  push:
    branches:
      - feat/main

jobs:
  build:
    if: github.repository == 'Consensys/linea-token-list'
    runs-on: ubuntu-latest

    env:
      PROVIDER_URL: ${{ secrets.PROVIDER_URL }}
      LINEA_PROVIDER_URL: ${{ secrets.LINEA_PROVIDER_URL }}
      CONTRACT_ADDRESS: ${{ secrets.CONTRACT_ADDRESS }}
      L2_TOKEN_BRIDGE: ${{ secrets.L2_TOKEN_BRIDGE }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Create temporary-dist directory
        run: mkdir temporary-dist

      - name: Transpile TypeScript to JavaScript
        run: npx tsc --outDir temporary-dist

      - name: Execute JavaScript
        run: node temporary-dist/createOnChainTokenList.js

      - name: Check for changes
        id: check-for-changes
        run: |
          if [[ -n $(git diff --exit-code) ]]; then
            echo "Changes detected. Creating a Pull Request."
          else
            echo "No changes detected. Skipping pull request creation."
            exit 0
          fi

      - name: Create Pull Request
        id: create-pr
        if: steps.check-for-changes.status == 'success'
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          committer: GitHub <noreply@github.com>
          delete-branch: true
          title: 'Update linea-mainnet-token-fulllist.json'
          branch: token-automatic-list

      - name: Pull Request Automerge
        id: merge-pr
        if: steps.check-for-changes.status == 'success' && steps.create-pr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.create-pr.outputs.pull-request-number }}
          merge-method: squash

      - name: Delete Pull Request Branch
        if: steps.check-for-changes.status == 'success' && steps.merge-pr.outputs.pull-request-number == ${{ steps.create-pr.outputs.pull-request-number }}
        run: |
          if git show-ref --verify --quiet "refs/heads/token-automatic-list"; then
            echo "Branch 'token-automatic-list' exists. Deleting..."
            git push origin --delete token-automatic-list
          else
            echo "Branch 'token-automatic-list' does not exist."
          fi

      - name: Clean up temporary-dist directory
        run: rm -rf temporary-dist
