name: Verify JSON

permissions:
  contents: read

on:
  push:
    branches:
      - main

jobs:
  verify_mainnet_shortlist:
    runs-on: ubuntu-latest

    env:
      PROVIDER_URL: ${{ secrets.PROVIDER_URL }}
      LINEA_PROVIDER_URL: ${{ secrets.LINEA_PROVIDER_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Verify mainnet shortlist
        run: npm run verify

      - name: Check for changes
        run: |
          if [[ -n $(git diff --exit-code) ]]; then
            echo "::error::Difference detected between your input and the onchain data. Please review the changes."
            git diff
            exit 1
          else
            echo "No changes detected. Exiting successfully."
            exit 0
          fi
